@icomoon-font-path: "../../fonts";

@icon-account: "\e900";
@icon-account-steamed: "\e903";
@icon-arrow-down: "\e905";
@icon-arrow-down-circle: "\e906";
@icon-arrow-down-thin: "\e901";
@icon-arrow-left: "\e907";
@icon-arrow-left-circle: "\e909";
@icon-arrow-left-thin: "\e90a";
@icon-arrow-right: "\e90c";
@icon-arrow-right-circle: "\e90d";
@icon-arrow-right-thin: "\e90e";
@icon-arrow-up: "\e910";
@icon-arrow-up-circle: "\e911";
@icon-arrow-up-thin: "\e902";
@icon-battery-100: "\e912";
@icon-battery-50: "\e913";
@icon-battery-75: "\e914";
@icon-bottle: "\e916";
@icon-cart: "\e919";
@icon-cart-steamed: "\e91a";
@icon-check-thin: "\e91c";
@icon-checkbox-checked: "\e91e";
@icon-checkbox-unchecked: "\e920";
@icon-creditcard-steamed: "\e925";
@icon-cross: "\e928";
@icon-cross-thin: "\e929";
@icon-diploma: "\e92a";
@icon-download-cloud: "\e92c";
@icon-dumbbell: "\e92d";
@icon-eye: "\e92e";
@icon-facebook: "\e930";
@icon-facebook-circle: "\e932";
@icon-fast-lane: "\e934";
@icon-favorites: "\e936";
@icon-favorites-steamed: "\e938";
@icon-fax: "\e93a";
@icon-file: "\e93c";
@icon-files: "\e93e";
@icon-filter: "\e940";
@icon-flash: "\e946";
@icon-flash-double: "\e948";
@icon-google-plus: "\e94f";
@icon-googleplus-circle: "\e951";
@icon-home: "\e953";
@icon-instagram: "\e955";
@icon-instagram-circle: "\e957";
@icon-key: "\e904";
@icon-leaf: "\e95a";
@icon-linkedin: "\e95c";
@icon-lock: "\e95e";
@icon-mail: "\e960";
@icon-mail-steamed-thin: "\e964";
@icon-mail-steamed: "\e962";
@icon-mark: "\e966";
@icon-menu: "\e968";
@icon-minus-light: "\e96a";
@icon-move-lines: "\e96b";
@icon-package-steamed: "\e96d";
@icon-paperplane: "\e96f";
@icon-pinterest: "\e971";
@icon-pinterest-circle: "\e973";
@icon-plus-light: "\e975";
@icon-ptint: "\e977";
@icon-refresh: "\e979";
@icon-search: "\e97b";
@icon-shopping-bag-steamed: "\e97d";
@icon-speech-bubble: "\e97f";
@icon-speech-bubble-steamed: "\e981";
@icon-star: "\e983";
@icon-star-steamed: "\e985";
@icon-store: "\e987";
@icon-tag: "\e908";
@icon-target: "\e98b";
@icon-telegram: "\e90b";
@icon-telegram-circle: "\e90f";
@icon-telephone: "\e98d";
@icon-telephone-steamed-thin: "\e98f";
@icon-th-steamed: "\e991";
@icon-thermometer: "\e993";
@icon-triangle-steamed-arrow-right: "\e995";
@icon-truck: "\e997";
@icon-tumblr-circle: "\e999";
@icon-twitter: "\e99b";
@icon-twitter-circle: "\e99d";
@icon-vk: "\e915";
@icon-vk-square: "\e917";
@icon-watch: "\e99f";
@icon-weibo: "\e918";
@icon-weibo-square: "\e91b";
@icon-whatsapp: "\e91d";
@icon-whatsapp-square: "\e91f";
@icon-xing: "\e9a1";
@icon-xing-circle: "\e9a3";
@icon-youtube: "\e9a5";
@icon-youtube-circle: "\e9a7";
@icon-youtube-new: "\e9a9";