<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
	<label lang="en">Views Theme</label>
    <label lang="de">Views Theme</label>
    <version>1.3.5</version>

    <link>http://blurcreative.de</link>
    <author>BlurCreative</author>
    <compatibility minVersion="5.2.0" />
	<license>GPLv3</license>
</plugin>
