<nav class="page-sidebar" id="sidemenu">
    
    {%- assign page_slug = page.url | replace: '.html'  -%}
    

    {%- for group in site.data.nav -%}
        {%- assign link = group.pages | first -%}
        {%- assign group_slug = group.title | slugify -%}
        {%- assign active = nil -%}
        {%- if page_slug == group_slug -%}
            
        {%- endif -%}

        <a class="nav-main-link" href="{{ site.baseurl }}/theme-views/de/{{ group.perm }}">
            {{ group.title }}
        </a>

        <ul class="nav-sub-list">
            {%- for doc in group.pages -%}
                {%- assign doc_slug = '/de/' | append: doc.perm -%}
                {%- assign active = nil -%}
                {%- if page_slug == doc_slug -%}
                    {%- assign active = 'active ' -%}
                {%- endif -%}
                <li class="nav-sub-item">
                    <a class="{% unless active == nil %}{{ active }} {% endunless %} nav-sub-link" href="{{ site.baseurl }}/theme-views/de/{{ doc.perm }}">
                        {{ doc.title }}
                    </a>
                </li>
            {%- endfor -%}
        </ul>
    {%- endfor -%}
</nav>