body {
    font-family: 'Roboto', sans-serif;
    color: #333;
}

.page-sidebar .nav-sub-list {
	list-style: none;
	padding: 10px 0;
	margin: 0;
}

.page-sidebar .nav-main-link {
	font-size: 18px;
	color: #333;
    font-weight: 700;
}

.page-sidebar .active.nav-sub-link {
	color: #333;
	font-weight: 500;
}

.page-sidebar .nav-main-link:hover {
	color: #333;
}

.page-sidebar a {
	color: #999;
}

.page-sidebar a:hover {
	text-decoration: none;
	color: #007bff;
}

.header-brand {
	flex: 0 0 275px;
	max-width: 275px;
}

.header-button-group {
	margin-left: auto;
}

.header-button h6 {
    margin-bottom: 0;
}

.header-button small {
    display: block;
}

.page-header {
	background-color: #361E47;
	display: flex;
	padding: 10px 15px;
	align-items: center;
}


.page-header .header-title {
	font-weight: 300;
	font-size: 24px;
	margin-bottom: 0;
    color: #fff;
}

.page-header .header-description {
	font-weight: 700;
	color: #666;
	font-size: 20px;
    color: #fff;
}

.shields-list {
	padding: 10px 0;
	margin: 0;
}

.page-wrap > .row {
    flex-wrap: nowrap;
}

.page-wrap .page-sidebar-wrap {
	flex: 0 0 275px;
	max-width: 275px;
    border-right: 1px solid #ddd;
    padding-top: 15px;
}

.page-wrap .page-content-wrap {
	flex: 1 100%;
	max-width: 100%;
    padding: 30px 50px;
}

.body-missing {
	background-color: #f6f6f6;
	color: #888;
}

.missing-page-wrap h1 {
	color: #333;
	font-weight: 100;
}

.missing-page-wrap {padding-top: 10rem;padding-bottom: 10rem;}

.missing-page-wrap > .row {
	align-items: center;
}