body {
    font-family: 'Roboto', sans-serif;
}

.page-sidebar .nav-sub-list {
	list-style: none;
	padding: 10px 0;
	margin: 0;
}

.page-sidebar .nav-main-link {
	font-size: 18px;
	color: #333;
    font-weight: 700;
}

.page-sidebar .active.nav-sub-link {
	color: #333;
	font-weight: 500;
}

.page-sidebar .nav-main-link:hover {
	color: #333;
}

.page-sidebar a {
	color: #999;
}

.page-sidebar a:hover {
	text-decoration: none;
	color: #007bff;
}

.sidebar-button h6 {
    margin-bottom: 0;
}

.sidebar-button small {
    display: block;
}

.sidebar-header .sidebar-title {
	font-weight: 300;
	font-size: 24px;
	margin-bottom: 0;
}

.sidebar-header .sidebar-description {
	font-weight: 700;
	color: #666;
	font-size: 20px;
}

.sidebar-header {
	border-bottom: 1px solid #ccc;
}